*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: antiquewhite;
    margin: 0;
    padding: 0;
    cursor: pointer;
    height: 100vh;
    background: center center fixed;

}
.flex{
    display: flex;
}
.flex-col {
    flex-direction: column;
}

.container {
    background: url("https://images.unsplash.com/photo-1527769929977-c341ee9f2033?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"), rgb(173, 149, 157);

    margin: auto;
    color: #1F293A;
    width: 550px;
    max-width: 100%;
    height: 100%;

}

#seed-color {
    width: 61px;
    height: 41px;
}

#color-picker.flex{
    align-items: center;
}

#color-pallette {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 80%;
    width: 100%;
    margin-top: 20px;
}
#color-pallette.flex {
    gap: 5px;
}
@media screen and (min-width: 601px) {
    .container {
        padding: 0 10px;
    }
}
@media screen and (max-width: 600px) {
    #color-picker {
            flex-direction: column;
        }
}

#color-btn {
    width: 123px;
    height: 42px;
    padding: 5px;
}

.color-list {
    width: 312px;
    height: 42px;
    border: 1px solid #D1D5DB;

    /* shadow/sm */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}



.color.flex {
    height: 90%;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 0 20px black;
    padding: .5rem;
    font-weight: 600;
}

.color-value {
    background: #fff;
    height: 50px;
    padding: 5px;
}
